<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609884243902-od6cagbknof736bgfn993ebr3j8kqdch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609884243902-od6cagbknof736bgfn993ebr3j8kqdch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>609884243902-ippm9n24akhs9rb81s12b66rfttd9t6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZDJ66U58BRaUsTVBZHllMdAt3j3p7Wrg</string>
	<key>GCM_SENDER_ID</key>
	<string>609884243902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LinkedGates.DelmarAttalla</string>
	<key>PROJECT_ID</key>
	<string>delmarandattalah</string>
	<key>STORAGE_BUCKET</key>
	<string>delmarandattalah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609884243902:ios:e842f763099a82f5ae1bef</string>
	<key>DATABASE_URL</key>
	<string>https://delmarandattalah.firebaseio.com</string>
</dict>
</plist>