<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please grant permission to customize your experience based on your current location, including helping you find &quot;Stores&quot; near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please grant permission to customize your experience based on your current location, including helping you find &quot;Stores&quot; near you.</string>
	<key>NSCameraUsageDescription</key>
	<string>Please grant permission to use the Camera so that you can add photos to your &quot;Delmar&quot; account to share your medicine prescription.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please grant permission to use the photo library so that you send photos from your library and save the ones you capture.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you to take voice recoder right from within &quot;Delmar&quot;.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please grant permission to use the Camera so that you can add photos to your &quot;Delmar&quot; account</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-App-60x60@2x.png</string>
		<string>Icon-App-76x76@1x.png</string>
		<string>Icon-App-76x76@2x.png</string>
		<string>Icon-App-83.5x83.5@2x.png</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>app.delmar-attalla.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>otherExternalDomainYouNeedToCall</key>
	<dict>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1009767512769310</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.609884243902-od6cagbknof736bgfn993ebr3j8kqdch</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.google.fcm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1009767512769310</string>
	<key>FacebookDisplayName</key>
	<string>FormsLoyalty</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>de.merck.nowpakdev</string>
	<key>CFBundleDisplayName</key>
	<string>Delmar &amp; Attallah</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.11</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
